{% extends "base.html.twig" %}

{% block title %}
	{{ movie.title }}
{% endblock %}


{% block body %}

<h2>{{ movie.title}}</h2>
<p>
    {{ movie.releaseDate|date('d-M-Y')}}
    |
    {{ movie.duration }}
	|
	{% for genre in movie.genres %}
		{{ genre.name }}{{ loop.last ? '.' : ', '}}

	{% endfor %}
</p>
<h3>Acteurs</h3>
<p>
{% for casting in castings %}
	{{ casting.person.firstname }}
	{{ casting.person.lastname }}
	({{ casting.role }}){{ loop.last ? '' : ', '}}
{% endfor %}
</p>

<h3>Critiques</h3>
<a class="btn btn-primary" href="{{ path('movie_add_review', {id: movie.id}) }}">Ajouter une critique</a>
{% endblock %}