{% extends "back/base_back.html.twig" %}

{% block title %}Admin du film
	{{ movie.title }}
{% endblock %}

{% block body %}

	<h2>Admin du film
		<i>{{ movie.title }}</i>
	</h2>


	<div class="row my-5">
		<div class="col-sm-12 col-md-5">
			<img src="{{ movie.poster }}" alt="{{ movie.title }}" class="img-fluid"/>
		</div>
		<div class="col-sm-12 col-md-7">
			<ul class="">
				<li class="">
					<strong>Title :</strong>
					{{ movie.title }}
				</li>

				<li class="">
					<strong>Release :</strong>
					{{ movie.releaseDate | date('d-M-Y') }}
				</li>

				<li class="">
					<strong>Duration :</strong>
					{{ movie.duration }}
					min.
				</li>

				<li class="">
					<strong>Genre :</strong>
					{% for genres in movie.genres %}
						{{ genres.name }}{{ loop.last ? '' : ', ' }}
					{% else %}
						No genre available
					{% endfor %}
				</li>

				<li class="">
					<strong>Casting :</strong>
					<ul>
						{% for casting in castings %}
							<li>
								<span class="text-decoration-underline">{{ casting.role }}</span>
								:
								<a href="{# path('app_actor_show', {'id': casting.person.id}) #}">{{ casting.person.firstname }}
									{{ casting.person.lastname }}</a>
							</li>
						{% else %}
							<li>No casting available</li>
						{% endfor %}
					</ul>
				</li>

			</ul>

		</div>
	</div>

{% endblock %}
